:root {
  --slate-dark-1: #151718;
  --slate-dark-5: #2B2F31;
  --slate-dark-6: #313538;
  --slate-dark-8: #4C5155;
  --slate-dark-9: #697177;
  --slate-dark-11: #9BA1A6;
  --slate-dark-12: #ECEDEE;
  --blue-light-9: #0091FF;

  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* For web3 onboard */
  --account-center-position-top: 60px;
}

button.btn:hover {
  background-color: rgb(6, 252, 153)!important;
  border-color: rgb(6, 252, 153);
}

button.btn {
  color: rgb(6, 252, 153);
  border-color: rgb(6, 252, 153);
}

button.nav-link {
  color: rgb(6, 252, 153);
  border-color: rgb(6, 252, 153);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: black !important;
}

ul.nav-tabs {
  border-color: rgb(6, 252, 153);
}

li.nav-link {
  border-color: rgb(6, 252, 153);
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: rgb(6, 252, 153) !important;
  color: rgb(6, 252, 153) !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border: 3px solid rgb(6, 252, 153) !important;
  color:rgb(6, 252, 153) !important;
  background-color: black !important;
}

a.text-decoration-none .nav-link {
  border: 3px solid rgb(6, 252, 153) !important;
  color:rgb(6, 252, 153) !important;
  background-color: black !important;
}


.nav-link:hover, .nav-link:focus {
  color: rgb(100, 163, 138) !important;
}

.nav-link {
  color: rgb(6, 252, 153) !important;
}

.nav-item:hover {
  border-color: rgb(6, 252, 153) !important;
}

.navigation-section {
  color: rgb(6, 252, 153);
}